//
// colors
//#######################################################################################################

// bootstrap theme colors
//-------------------------------------------------------------------------------------------------------
@bootstrap-default: #fff;
@bootstrap-inverse: #222;
@bootstrap-primary: #428bca;
@bootstrap-success: #5cb85c;
@bootstrap-info: #5bc0de;
@bootstrap-warning: #f0ad4e;
@bootstrap-danger: #d9534f;

@bootstrap-default-border: #ccc;
@bootstrap-inverse-border: #111;
@bootstrap-primary-border: #2b669a;
@bootstrap-success-border: #4cae4c;
@bootstrap-info-border: #46b8da;
@bootstrap-warning-border: #eea236;
@bootstrap-danger-border: #d43f3a;

@bootstrap-default-hover: #e6e6e6;
@bootstrap-inverse-hover: #111;
@bootstrap-primary-hover: #3071a9;
@bootstrap-success-hover: #449d44;
@bootstrap-info-hover: #31b0d5;
@bootstrap-warning-hover: #ec971f;
@bootstrap-danger-hover: #c9302c;

@bootstrap-default-hover-border: #adadad;
@bootstrap-inverse-hover-border: #000;
@bootstrap-primary-hover-border: #285e8e;
@bootstrap-success-hover-border: #398439;
@bootstrap-info-hover-border: #269abc;
@bootstrap-warning-hover-border: #d58512;
@bootstrap-danger-hover-border: #ac2925;

@bootstrap-default-text: #333;
@bootstrap-inverse-text: #fff;
@bootstrap-primary-text: #fff;
@bootstrap-success-text: #fff;
@bootstrap-info-text: #fff;
@bootstrap-warning-text: #fff;
@bootstrap-danger-text: #fff;

// google calendar theme colors
//-------------------------------------------------------------------------------------------------------
@google-brown: #ac725e;
@google-lightbrown: #d06b64;
@google-red: #f83a22;
@google-lightred: #fa573c;
@google-orange: #ff7537;
@google-lightorange: #ffad46;
@google-yellow: #fad165;
@google-lightyellow: #fbe983;
@google-lightgreen: #b3dc6c;
@google-green: #7bd148;
@google-darkgreen: #16a765;
@google-turquoise: #42d692;
@google-lightturquoise: #92e1c0;
@google-lightblue: #9fe1e7;
@google-blue: #9fc6e7;
@google-darkblue:  #4986e7;
@google-indigo: #9a9cff;
@google-lightpurple: #b99aff;
@google-purple: #a47ae2;
@google-redviolet: #cd74e6;
@google-pink: #f691b2;
@google-browngrey: #cca6ac;
@google-lightgrey: #cabdbf;
@google-grey: #c2c2c2;

@google-brown-border: #674438;
@google-lightbrown-border: #a65650;
@google-red-border: #c62e1b;
@google-lightred-border: #b43f2b;
@google-orange-border: #cf5e20;
@google-lightorange-border: #e69c24;
@google-yellow-border: #e1bc37;
@google-lightyellow-border: #e2d248;
@google-lightgreen-border: #a1c63c;
@google-green-border: #64a92d;
@google-darkgreen-border: #107949;
@google-turquoise-border: #35ae76;
@google-lightturquoise-border: #63caad;
@google-lightblue-border: #72cad0;
@google-blue-border: #81a0bb;
@google-darkblue-border: #3460a6;
@google-indigo-border: #6c6db2;
@google-lightpurple-border: #826cb2;
@google-purple-border: #73559e;
@google-redviolet-border: #9051a1;
@google-pink-border: #c5748e;
@google-browngrey-border: #a3858a;
@google-lightgrey-border: #a29799;
@google-grey-border: #888;

@google-brown-hover: #674438;
@google-lightbrown-hover: #a65650;
@google-red-hover: #c62e1b;
@google-lightred-hover: #b43f2b;
@google-orange-hover: #cf5e20;
@google-lightorange-hover: #e69c24;
@google-yellow-hover: #e1bc37;
@google-lightyellow-hover: #e2d248;
@google-lightgreen-hover: #a1c63c;
@google-green-hover: #64a92d;
@google-darkgreen-hover: #107949;
@google-turquoise-hover: #35ae76;
@google-lightturquoise-hover: #63caad;
@google-lightblue-hover: #72cad0;
@google-blue-hover: #81a0bb;
@google-darkblue-hover: #3460a6;
@google-indigo-hover: #6c6db2;
@google-lightpurple-hover: #826cb2;
@google-purple-hover: #73559e;
@google-redviolet-hover: #9051a1;
@google-pink-hover: #c5748e;
@google-browngrey-hover: #a3858a;
@google-lightgrey-hover: #a29799;
@google-grey-hover: #888;

@google-brown-hover-border: #5d3d32;
@google-lightbrown-hover-border: #954d48;
@google-red-hover-border: #b22918;
@google-lightred-hover-border: #a23927;
@google-orange-hover-border: #ba551d;
@google-lightorange-hover-border: #cf8c20;
@google-yellow-hover-border: #caa932;
@google-lightyellow-hover-border: #cbbd41;
@google-lightgreen-hover-border: #91b236;
@google-green-hover-border: #5a9828;
@google-darkgreen-hover-border: #0e6d42;
@google-turquoise-hover-border: #309d6a;
@google-lightturquoise-hover-border: #59b69c;
@google-lightblue-hover-border: #67b6bb;
@google-blue-hover-border: #7490a8;
@google-darkblue-hover-border: #2f5695;
@google-indigo-hover-border: #6162a0;
@google-lightpurple-hover-border: #7561a0;
@google-purple-hover-border: #684c8e;
@google-redviolet-hover-border: #824991;
@google-pink-hover-border: #b16880;
@google-browngrey-hover-border: #93787c;
@google-lightgrey-hover-border: #92888a;
@google-grey-hover-border: #7a7a7a;

@google-brown-text: #fff;
@google-lightbrown-text: #fff;
@google-red-text: #fff;
@google-lightred-text: #fff;
@google-orange-text: #fff;
@google-lightorange-text: #fff;
@google-yellow-text: #333;
@google-lightyellow-text: #333;
@google-lightgreen-text: #fff;
@google-green-text: #fff;
@google-darkgreen-text: #fff;
@google-turquoise-text: #fff;
@google-lightturquoise-text: #fff;
@google-lightblue-text: #fff;
@google-blue-text: #fff;
@google-darkblue-text: #fff;
@google-indigo-text: #fff;
@google-lightpurple-text: #fff;
@google-purple-text: #fff;
@google-redviolet-text: #fff;
@google-pink-text: #fff;
@google-browngrey-text: #fff;
@google-lightgrey-text: #fff;
@google-grey-text: #fff;
